.container {
    width: 1366px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frame {
    width: 1059px;
    margin: 0 auto;
}

.top-logo {
    width: 46px;
    height: 44px;
    float: left;
    padding-right: 15px;
    margin-top: 49px;
}

.logo-text {
    margin-top: 49px;
    float: left;
    font-weight: bold;
}

.logo-text-top {
    font-size: 29px;
    color: white;
}

.logo-text-bottom {
    font-size: 18px;
    color: white;
}

.logo-link:hover > .top-logo {
    content: url("../img/orange-domik.png");
}

.logo-link:hover .logo-text-top {
    color: #f26522;
}

.logo-link:hover .logo-text-bottom {
    color: #f26522;
}

.contacts {
    margin-top: 57px;
    font-size: 18px;
    float: right;
    text-align: right;
    color: white;
}

.top-block {
    margin-bottom: 48px;
}

.photo-box {
    position: relative;
    float: left;
    margin-right: 61px;
    text-align: center;
}

.photo-link {
    text-decoration: none;
}

.photo-link:hover .photo-text {
    color: #f26522;
}

.photo-popup {
    position: absolute;
    width: 312px;
    height: 63px;
    background-color: #f26522;
    color: white;
    top: 144px;
    left: 0;
    display: none;
}

.photo-link:hover .photo-popup {
    display: block;
}

.left-side-popup {
    float: left;
    /*margin-bottom: 17px;*/
}

.from {
    font-size: 10px;
    text-align: left;
    padding-top: 16px;
    padding-left: 21px;
}

.euro {
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    padding-left: 21px;
}

.right-side-popup {
    float: right;
}

.details {
    font-size: 14px;
    padding-top: 35px;
    padding-right: 40px;
}

.details::after {
    content: url("../img/arrow.png");
    margin-left: 15px;
}

.photo {
    border: 2px solid transparent;
    box-sizing: border-box;
    background: linear-gradient(to top, white, black, white);
    width: 312px;
    height: 205px;
}

.photo-text {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 58px;
    color: white;
}

.bot-block-text {
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

.mr0 {
    margin-right: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}











